
.button,
a.button,
input.button {
    width: 200px;
    height: 44px;
    background-color: #c1502e;
    color: #FFFFFF;;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 7px;
    padding: 12px 0;
    text-transform: uppercase;
}



.button:hover,
a.button:hover{
    background-color:rgb(162,123,92);
    transition: 0.1s s ease-in-out;
}

.button:active,
a.button:active{
    background-color:rgb(63,78,79);
    transition: 0.1s ease-in-out;
}

.button:disabled,
a.button:disabled{
    background-color:rgb(194, 190, 178);
}

