main{
    /* border: 2px solid red; */
    padding-bottom: 60px;
}

main h1{
text-align: center;
font-size: 52px;
margin-top: 30px;
margin-bottom: 30px;
color: #c1502e;
font-weight: 600;
text-shadow: 2px 2px 8px rgb(168, 183, 184);
}

form{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */
    padding: 0 40px 40px 40px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 10px;

    box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px 0px;
    transition: all 0.3s ease 0s;
}



#firstName-error,
#surname-error,
#deliveryDate-error,
#street-error,
#houseNumber-error,
#flatNumber-error,
#submit-error{
    font-size: 14px;
    color: red;
    /* display: none; */
}
span>i{
  color:seagreen;
  padding-left: 10px;
}

h3{
    font-size: 32px;
    margin-top: 40px;
    text-shadow: 2px 2px 8px rgb(168 183 184);
}

.row-two-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.row-two-items .col-50:nth-child(2){
    margin-left: 20px;
}
.row-two-items .col-50:nth-child(1){
    margin-right: 20px;
}

.col-50{
    display: flex;
    flex-direction: column;

    width: 50%;
}

.row-one-item{
    display: flex;
    flex-direction: column;

    width: 100%;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    font-size: 22px;
    margin-top: 20px;
}

.payment-info{
    margin-top: 20px;
}

.payment-info input{
    margin-left: 30px;
}

.payment-info label{
    margin-left: 7px;
}

/*Custom Checkbox*/
/* The container */
.gift-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .gift-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* CREATE A CUSTOM RADIO BUTTONS */
/* The container */
.radio-btn-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio-btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(218, 213, 213);
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .radio-btn-container:hover input ~ .radio-checkmark {
    background-color: rgb(161, 160, 160);
  }

  /* When the radio button is checked, add a blue background */
  .radio-btn-container input:checked ~ .radio-checkmark {
    background-color: rgb(63,78,79);
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-btn-container input:checked ~ .radio-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .radio-btn-container .radio-checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
/*// CREATE A CUSTOM RADIO BUTTONS */

  /* CREATE A CUSTOM CHECKBOX */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(218, 213, 213);
    /* border: 1px solid rgb(196, 191, 191); */
  }

  /* On mouse-over, add a grey background color */
  .gift-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .gift-container input:checked ~ .checkmark {
    background-color: rgb(63,78,79);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .gift-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* // CREATE A CUSTOM CHECKBOX*/

.form-button{
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

/*Order summarized information*/
.order-message-wrapper{
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;

  width: 650px;
  /* border: 1px solid black; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.message-header{
  padding: 20px;
  border-bottom: 4px solid #f2f2f2;
  text-shadow: 2px 2px 8px rgb(168, 183, 184);

  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.6em;
  color: #c1502e;
}

.message-body{
  padding: 20px;
  font-size: 1.3em;

}
/*//Order summarized information*/