main{
    /* border: 2px solid red; */
}

main h1{
text-align: center;
font-size: 72px;
margin-top: 30px;
margin-bottom: 30px;
color: #c1502e;
font-weight: 600;
text-shadow: 2px 2px 8px rgb(168, 183, 184);
}

.card{
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    /* padding-top: 40px;
    padding-bottom: 40px; */

    height: 600px;
    /* border: 2px solid black; */

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 40%;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    padding: 40px;
    /* border: 2px solid black; */
    

}

.img-wrapper img{
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    padding: 40px;
    padding-left: 0px;
    width: 60%;
}

.card-header-container{
    display: flex;
    justify-content: space-between;
}

.author{
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-close-button{
    display: none;

    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    background-color: #c1502e;
    color: #fff;
    text-align:center;
    border-radius:50%
}

.card-close-button:hover{
    background-color:rgb(162,123,92);
    transition: 0.1s s ease-in-out;
}

.card-close-button:active{
    background-color:rgb(63,78,79);
    transition: 0.1s ease-in-out;
}


.title{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}


.price{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(162,123,92);
    text-shadow: 0 0 1px #30120a;
}


.show-more{
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgb(168, 183, 184);

}

.show-more:hover{
    color: #c1502e;
}


/*MODAL WINDOW*/
.modal {
    position: relative;
    top:16%;
    left: 35%;
    /* bottom: 40px;
    left: 0; */
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid rgb(199, 197, 197);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid rgb(173, 171, 171);

    /* background-color: rgb(63,78,79, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.modal-header .modal-title{
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgb(168, 183, 184);
    width: 90%;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    background-color: #c1502e;
    color: #fff;
    text-align:center;
    border-radius:50%
}

.modal-header .close-button:hover{
    background-color: rgb(162,123,92);
    transition: 0.1s s ease-in-out;
}

.modal-header .close-button:active{
    background-color: rgb(63,78,79);
    transition: 0.1s ease-in-out;
}

.modal-body{
    padding: 10px 15px;
    overflow: auto;
}

.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}

/*// MODAL WINDOW*/



.description{
    display: none;
}

.card-button{
    display: flex;
    justify-content: left;
    /* margin-bottom: 10px; */

    margin-left: auto;
    margin-right: auto;
}