main{
    /* border: 2px solid red; */
}

main h1{
text-align: center;
font-size: 72px;
margin-top: 30px;
margin-bottom: 30px;
color: #c1502e;
font-weight: 600;
}

.card{
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    padding-top: 40px;
    padding-bottom: 40px;

    height: 700px;
    /* border: 2px solid black; */

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 40%;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    padding: 40px;
    /* border: 2px solid black; */
    

}

.img-wrapper img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    padding: 40px;
    width: 60%;
}

.author{
    font-weight: 400;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.title{
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 40px;
}


.price{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(162,123,92);
}


.show-more{
    font-size: 22px;
    font-style: italic;
    margin-bottom: 170px;

}

.show-more:hover{
    color: #c1502e;
}


.description{
    display: none;
}

.card-button{
    display: flex;
    justify-content: left;
    /* margin-bottom: 10px; */

    margin-left: auto;
    margin-right: auto;
}